SAUCE_USERNAME = your_username
SAUCE_ACCESS_KEY = your_access_key
SAUCE_STORAGE_APP = your_app_path
BROWSERSTACK_USERNAME = your_username
BROWSERSTACK_ACCESS_KEY = your_access_key
BROWSERSTACK_APP_ID = your_app_id